@font-face {
    font-family: 'Yusei Magic', sans-serif;;
    src: url(https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap);
}

html {
  font-size: 26px;
}

p, li, textarea, button, label {
    font-size: 18px!important; 
}

h2 {
    font-size: 1.17em!important;
}

body {
  margin: 0 auto;
  padding: 50px;
  font-family: 'Yusei Magic', sans-serif!important;
  line-height: 150%!important;
  background-color: #222831!important;
  text-align: center;
  width: 500px; 
}

body:not(.ready) #textarea::placeholder,
body:not(.ready) #controls {
  opacity: 0;
}

body:not(.ready) #controls {
  visibility: hidden;
}

#textarea {
  border: 3px solid;
  outline: none;
  line-height: inherit;
  background-color: #FFFFE0;
}

#textarea::placeholder {
  color: silver;
  opacity: 1;
  transition: opacity .7s;
}

#controls {
  transition: opacity 1s;
  display: flex;
  flex-direction: row;
}

#save {
  font-weight: bold;
  margin-right: 50px;
  background-color: pink!important;
  border-color: pink!important;
  color: #000;
}

#credits {
  margin-top: 7em;
}

#credits a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#credits a:hover {
  border-bottom: 1px solid black;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }